name: Release

on: 
  release:
    types: [published]

jobs:

  build:
    name: build & test
    uses: ./.github/workflows/build.yml
    with:
      compiler_version: ldc-1.33.0
      build_type: release-gamma

  upload:
    uses: ./.github/workflows/upload.yml
    secrets: inherit
    needs: build
